*.code-workspace
.env
node_modules/
package-lock.json

# ESLint cache file
.eslintcache

# VS Code Config Files
.vscode/
.DS_Store
Thumbs.db

# sensitive data
data/

# Logs
logs
*.log
npm-debug.log*

# fine-tune
finetune/